input {
    text-align: center;
    
  }
  
  ::-webkit-input-placeholder {
    text-align: center;
  }
  
  :-moz-placeholder {
    text-align: center;
  }



  select {
    text-align: center;
  }
  
  ::-webkit-select-placeholder {
    text-align: center;
  }
  
  :-moz-placeholder {
    text-align: center;
  }