.heroBanner{
   background-image:url('./../../../../public/hero-section.jpg'); 
    position: absolute;
   top: 0%;
   left: 0%; 
   height: 100%;
   width: 100%;
   padding: 0%;
   margin: 0%;
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
}
.downloadBanner{
   background-image: url('./../../../../public/Banner.jpg');
  
}
.background-img{
   background-image: url('./../../../../public/ring.jpg');
   /* position: absolute;
   top: 0%;
   left: 0%; 
   height: 100vh;
   width: 98.7vw;
   padding: 0%;
   margin: 0%;
   background-size: cover;
   background-position: center;
   background-attachment: fixed; */
}
.group{
  animation: group-animation;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  position: relative;
  animation-direction: alternate;


}

@keyframes group-animation{
   from{
     top:0;
     bottom: 0;

   }
   to{
      top:10px;
      bottom: 100px;
      
    
   }
}
.mobile{
   animation: mobile-animation;
   animation-iteration-count: infinite;
   animation-duration: 1s;
   position: relative;
   animation-direction: alternate;
   
}
@keyframes mobile-animation{
   from{
     top:0;
     bottom: 0;

   }
   to{
      top:10px;
      bottom: 100px;
      
    
   }
}