@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


/* @layer base {
  body {
    @apply bg-gray-100;
  }
} */

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  background-color: #f7f7f7;
}

.card {
  margin-top: 40px;
  max-width: 480px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* box-shadow:  0 1px 2px rgba(56, 65, 74, 0.15); */
}

.card-body {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.login-btn {
  padding: 10px 98px;
}

.google-btn {
  padding: 10px 40px;
}
.facebook-btn{
  padding: 10px 36px;
}
.facebook-btn:hover {
  background-color: #dd91aa;
}
.facebook-btn i {
  font-size: 20px;
}
.google-btn i {
  font-size: 20px;
}

.google-btn:hover {
  background-color: #dd91aa;
}
.prev-btn{
  padding: 3px 15px;
}
.previous-btn{
  margin-right: 85px;
}


/* sidebar----------------------- */
:root {
  --header-height: 3rem;
  --nav-width: 68px;

  --first-color: #f10086;
  --first-color-alt: #f582a7;
  --white-color: #ffddee;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

main {
  position: relative;
  margin: var(--header-height) 0 0 0;
  padding: 0 1rem;
  font-size: 1rem;
  font-family: 'Nunito Sans', sans-serif;
  transition: 0.5s;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  height: var(--header-height);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white-color);
  padding: 0 1rem;
  transition: 0.5s;
}

.header-toggle {
  font-size: 1.25rem;
  cursor: pointer;
  color: var(--first-color);
}

.sidebar {
  position: fixed;
  top: 0;
  left: -30%;
  height: 100vh;
  width: var(--nav-width);
  background-color: var(--first-color);
  padding-top: 1rem;
  transition: 0.5s;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  height: 100%;
}

.nav-logo,
.nav-link {
  display: grid;
  grid-template-columns: max-content max-content;
  column-gap: 2rem;
  padding: 0.5rem 0 0.5rem 1.5rem;
}

.nav-logo {
  margin-bottom: 2rem;
}

.nav-logo-icon {
  font-size: 1.25rem;
  color: var(--white-color);
  cursor: pointer;
}

.nav-logo-name {
  font-weight: 700;
  color: var(--white-color);
}

.nav-link {
  position: relative;
  color: var(--first-color-alt);
  transition: 0.5s;
  margin-bottom: 1.5rem;
}

.nav-link:hover {
  color: var(--white-color);
  background-color: rgba(0, 0, 0, 0.1);
}

.active {
  color: var(--white-color);
  background-color: rgba(0, 0, 0, 0.1);
}

.active::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 38px;
  width: 3px;
  background-color: var(--white-color);
  transition: 0.5s;
}
.card-image{
  width: 60%;
  height: 110%;
}

.show {
  left: 0;
}

.space-toggle {
  padding-left: calc(var(--nav-width) + 1rem);
}

@media screen and (min-width: 768px) {
  main {
    margin: calc(var(--header-height) + 1rem) 0 0 0;
    padding: 0 1rem 0 calc(var(--nav-width) + 2rem);
  }

  .header {
    height: calc(var(--header-height) + 1rem);
    padding-left: calc(var(--nav-width) + 2rem);
  }

  .sidebar {
    left: 0;
    padding: 1rem 0 0 0;
  }

  .show {
    width: calc(var(--header-height) + 156px);
  }

  .space-toggle {
    padding-left: calc(var(--nav-width) + 188px);
  }
}

/* --------------------- */

/* -------------------Chat------------------ */


.body-content-overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  display: block;
  z-index: 4;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
  /* &.show {
    visibility: visible;
    transition: all 0.3s ease;
    opacity: 1;
    background-color: rgba($black, 0.2);
    border-radius: calc($border-radius/2);
  } */
}
.body-content-overlay {
  position: fixed;
  opacity: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  &.show {
    opacity: 1;
  }
}

/* .chat-app-window {
  // User chats
  .user-chats {
    background-color: $chat-image-back-color;
    padding: 1rem;
    position: relative;
    height: calc(100% - #{$chat-head-footer-height} - #{$chat-head-footer-height});
    .avatar {
      img {
        border: 2px solid $white;
      }
    }
  }
  .active-chat {
    height: inherit;
    .chat-header {
      display: flex;
      justify-content: space-between;
      height: $chat-head-footer-height;
      background-color: $white;
      padding: 0 1rem;
      border-bottom: 1px solid $border-color;
    }
  }

  // Chat area css
  .chats {
    .chat-avatar {
      float: right;
    }
    .chat-body {
      display: block;
      margin: 10px 30px 0 0;
      overflow: hidden;
      .chat-content {
        float: right;
        padding: 0.7rem 1rem;
        margin: 0 1rem 10px 0;
        clear: both;
        color: $white;
        @include gradient-directional(map-get($primary-color, 'base'), map-get($primary-color, 'lighten-2'), 80deg);
        border-radius: $border-radius;
        box-shadow: 0 4px 8px 0 rgba($black, 0.12);
        max-width: 75%;
        p {
          margin: 0;
        }
      }
    }
    // Chat area left css
    .chat-left {
      .chat-avatar {
        float: left;
      }
      .chat-body {
        .chat-content {
          float: left;
          margin: 0 0 10px 1rem;
          color: $body-color;
          background: none;
          background-color: lighten($white, 18%);
        }
      }
    }
  }
  // Chat form of user area
  .chat-app-form {
    height: $chat-head-footer-height;
    padding: 0 1rem;
    background-color: $white;
    display: flex;
    align-items: center;
    border-top: 1px solid $border-color;
  }
} */


/* .chat-widget {
  .card-header {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
  }
  .chat-app-window {
    // User chats
    .user-chats {
      background-color: $body-bg;
      height: $chat-widget-height;
    }
    .chat-app-form {
      border-top: 0;
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
      height: $chat-widget-head-footer-height;
      .input-group-text,
      .message {
        border: 0;
        padding-left: 0;
      }
      .input-group:not(.bootstrap-touchspin):focus-within {
        box-shadow: none;
      }
    }
  }
} */

/* .chat-application {
  .content-area-wrapper {
    border-color: $theme-dark-border-color;
  }
  // left sidebar
  .sidebar {
    .chat-profile-sidebar {
      background-color: $theme-dark-card-bg;
      border-color: $theme-dark-border-color;
    }

    .sidebar-content {
      border-color: $theme-dark-border-color;

      .chat-fixed-search {
        border-color: $theme-dark-border-color;
      }

      .chat-user-list-wrapper {
        .chat-users-list {
          li {
            &:not(.active):hover {
              background: $theme-dark-body-bg;
            }
            .chat-info .card-text,
            .chat-time {
              color: $theme-dark-text-muted-color;
            }
            &.active {
              .chat-info .card-text,
              .chat-time {
                color: $white;
              }
            }
            img {
              border-color: $theme-dark-border-color;
            }
          }
        }
      }
    }
  }
  .avatar-border {
    img {
      border-color: $theme-dark-border-color;
    }
  }

  // Right side content area
  .content-right {
    .chat-app-window {
      .start-chat-area {
        background-color: $theme-dark-card-bg;

        .start-chat-icon,
        .start-chat-text {
          background: $theme-dark-card-bg;
          color: $theme-dark-body-color;
        }
      }
      .start-chat-area,
      .user-chats {
        background-image: url($chat-bg-dark);
        background-color: #1e232f;
      }
      .user-chats {
        .divider .divider-text {
          background: $theme-dark-card-bg;
          &:before,
          &:after {
            border-color: $theme-dark-border-color;
          }
        }
        .avatar img {
          border-color: $theme-dark-border-color;
        }
      }
      // Active conversation style
      .active-chat {
        .chat-left {
          .chat-content {
            background-color: $theme-dark-card-bg;
            p {
              color: $theme-dark-body-color;
            }
          }
        }

        .chat-content {
          p {
            color: $white;
          }
        }
        // Chat form
        .chat-header .dropdown-toggle {
          color: $theme-dark-body-color;
        }
        .chat-header,
        .chat-app-form {
          background-color: $theme-dark-card-bg;
          border-color: $theme-dark-border-color;
        }
      }
    }

    .user-profile-sidebar {
      background-color: $theme-dark-card-bg;
      border-color: $theme-dark-border-color;
    }
  }
} */


/* .chat-widget {
  .user-chats {
    background-color: $theme-dark-widget-bg !important;
  }
  .card-header,
  .chat-app-form {
    background-color: $theme-dark-card-bg;
  }
  .chat-app-window .user-chats .chat-left .chat-content {
    background-color: $theme-dark-card-bg !important;
    color: $theme-dark-body-color !important;
  }
  .chat-app-window .user-chats .avatar img {
    border-color: $theme-dark-body-bg;
  }
} */

/* -------------------------- */